<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".FgumApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.FGum"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="rxmodule"
            android:value="true" />
        <meta-data
            android:name="rxposed_clsentry"
            android:value="com.test.fgum.LoadEntry" />

        <meta-data
            android:name="rxposed_mtdentry"
            android:value="Entry" />

        <meta-data
            android:name="rxposed_hide"
            android:value="false" />


        <service
            android:name=".KeepAliveService"
            android:process=":process"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>